body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
img{
    width: max-content;
    max-width: 100%;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    background-color: #d4d4d4;
}
.book1{
    border: 1px solid #111;
    rotate: 5deg;
    height: 80%;
    width: 80%;
}
.book2{
    border: 1px solid #111;
    rotate: -2.5deg;
}
.book3{
    height: 100vh;
    overflow-y: auto;
    padding: 15px;
    rotate: -2.5deg;
}
section{
    max-width: 600px;
    background-color: aliceblue;
    border: 1px solid #111;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
}
pre {
    display: flex;
    width: max-content;
    max-width: 90%;
    height: max-content;
}
header{
    background-color: #111;
    top: 0;
    color: #d4d4d4;
}

footer {
    background-color: #111;
    color: #d4d4d4;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
  }
  footer div{
    opacity: 0.5;
  }
  .dev-container {
    text-align: center;
  }
  @media (max-width: 599px) {
    img{
        width: 90%;
    }
  
  }